// Use this file to store all of the private credentials and connection details

#define SECRET_SSID ""       // SSID
#define SECRET_PASS ""   // WiFi password

// ONLY if static configuration is needed
/*
#define IP {192, 168, 1, 100}                    // IP address
#define SUBNET {255, 255, 255, 0}                // Subnet mask
#define DNS {149, 132, 2, 3}                     // DNS
#define GATEWAY {149, 132, 182, 1}               // Gateway
*/

#define MQTT_BROKERIP ""           // IP address of the machine running the MQTT broker
#define MQTT_CLIENTID ""                 // client identifier
#define MQTT_USERNAME ""            // mqtt user's name
#define MQTT_PASSWORD ""            // mqtt user's password

